{% extends "turno/base.html" %}
{% load static %}

{% block title %}Gestor de Turnos - Barbería{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
  <h2 class="bienvenida">Bienvenido, {{ user.first_name }} {{ user.last_name }} </h2>
  <p>ultimo acceso: {{ user.last_login }}</p>

  <div class="dashboard-container">
    
    {% if user.is_superuser %}
      <!-- Vista para superusuarios (barberos) -->
      <div class="vista-barbero">
        <h3>Vista de barbero</h3>
        <p>Panel de control para barberos</p>
        <!-- Aquí puedes agregar más contenido específico para barberos -->
      </div>
    {% else %}
      <!-- Vista para clientes regulares -->
      <p class="subtitulo">Estos son nuestros barberos disponibles:</p>
      
      <div class="barberos-grid">
        {% for barbero in barberos %}
          <div class="barbero-card">
            <img src="https://via.placeholder.com/150" alt="image_barbero">
            <h3>{{ barbero.nombre }} {{ barbero.apellido }}</h3>
            <p>{{ barbero.descripcion }}</p>
            <a href="{% url 'turno:agenda_barbero' barbero.id %}" class="btn-reservar">Reservar turno</a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
  </div>
{% endblock %}