{% extends "turno/base.html" %}
{% load static %}

{% block title %}Gestor de Turnos - Barbería{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
  <h2 class="bienvenida">Bienvenido, {{ user.first_name }} {{ user.last_name }} </h2>
  <p>Último acceso: {{ user.last_login }}</p>

  <div class="dashboard-container">

    <p class="subtitulo">Estos son nuestros barberos disponibles:</p>

    <div class="barberos-grid">
      <div class="barbero-card">
        <img src="https://via.placeholder.com/150" alt="image_barbero">
        <h3>Juan Pérez</h3>
        <p>Especialista en cortes modernos y degradados.</p>
        <a href="{% url 'turno:formulario_reserva' 1 %}" class="btn-reservar">Reservar turno</a>
      </div>

      <div class="barbero-card">
        <img src="https://via.placeholder.com/150" alt="image_barbero">
        <h3>Luis Gómez</h3>
        <p>Experto en barbería clásica y cuidado de barba.</p>
        <a href="{% url 'turno:formulario_reserva' 2 %}" class="btn-reservar">Reservar turno</a>
      </div>
    </div>
  </div>
{% endblock %}
